* {
}
h1 {
  color: black;
  text-align: center;
}
.Box {
  margin-bottom: 15px;
  /* display: flex; */
}
.col-md-4 {
  margin-right: 20px;
  border-style: solid;
  border-radius: 5px;
}
.col-md-4 h3 {
  margin: 0;
  border-style: solid;
  border-radius: 2px;
  float: right;
  background-color: pink;
}
.col-md-4 p {
  margin: 20px;
}
