* {
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 0;
  padding: 0;
  height: 40px;
  background-color: rgb(153, 153, 153);
  margin-bottom: 20px;
}
.navbar h1 {
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.navbar hr {
  margin-top: 10px;
  border: none;
  height: 2px;
  background-color: black;
}
.navbar ul {
  float: right;
  margin-right: 40px;
}
.navbar li {
  display: inline-block;
  margin: 0px 8px;
  line-height: 35px;
}
.navbar a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.navbar #icon {
  float: right;
  color: white;
  font-size: 30px;
  line-height: 20px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
h1 {
  color: black;
  text-align: center;
  font-family: "Zeyada", cursive;
}
#Box {
  margin-bottom: 15px;
  display: flex;
}
#Chicken {
  background-color: rgb(153, 153, 153);
  margin-left: 10px;
  margin-right: 20px;
  border-style: solid;
  border-radius: 5px;
}
#Chicken h3 {
  margin: 0;
  border-style: solid;
  border-radius: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: right;
  background-color: pink;
}
#Chicken p {
  margin: 20px;
  font-family: "Covered By Your Grace", cursive;
}
#Beef {
  background-color: rgb(153, 153, 153);
  margin-right: 20px;
  border-style: solid;
  border-radius: 5px;
}
#Beef h3 {
  margin: 0;
  border-style: solid;
  border-radius: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: right;
  border-color: black;
  background-color: rgb(255, 83, 83);
  color: white;
}
#Beef p {
  margin: 20px;
  font-family: "Covered By Your Grace", cursive;
}
#Sushi {
  background-color: rgb(153, 153, 153);
  margin-right: 20px;
  border-style: solid;
  border-radius: 5px;
}
#Sushi h3 {
  margin: 0;
  border-style: solid;
  border-radius: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: right;
  background-color: yellow;
}
#Sushi p {
  margin: 20px;
  font-family: "Covered By Your Grace", cursive;
}
@media (min-width: 600px) and (max-width: 900px) {
  #Box {
    display: block;
  }
  #Chicken {
    float: left;
    height: 10%;
    width: 45%;
    margin-bottom: 15px;
  }
  #Beef {
    float: right;
    height: 10%;
    width: 45%;
    margin-bottom: 15px;
  }
  #Sushi {
    margin-left: 10px;
    clear: both;
    height: 10%;
    width: 97%;
  }
}
@media (max-width: 599px) {
  .navbar ul {
    flex-direction: column;
  }
  #Box {
    display: block;
  }
  #Chicken {
    margin-bottom: 20px;
  }
  #Beef {
    margin-left: 10px;
    margin-bottom: 20px;
  }
  #Sushi {
    margin-left: 10px;
  }
}
